<% if signed_in? %>
  <div class="row-fluid">
    <aside class="span1">
      <section>
        <a href="<%= user_path(current_user) %>">
          <%= gravatar_for current_user, size: 52 %>
        </a>
      </section>
    </aside>
    <div class="span11">
      <%= render 'shared/attendances' %>
    </div>
  </div>
<% end %>
